* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
  font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: #FFCD48;
	position: sticky;
	top:0;
	width: 100%;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 15px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 600px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: auto;
}

.contenedor-imagen img {
	width: 100%;
	height: 350px;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
	margin-bottom: 20px;
}


/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
	background-color:#1D2F3D ;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */


aside{
	width: 50%;
	/* float: left; */
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background: #1D2F3D;

}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;

}

.indice  {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}

.divTitulo{
	position: sticky;
	bottom: 0;
	background: #1D2F3D; 
	margin-top: 20px;
	height: 70px;
	content-visibility: auto;
}

#tituloP {
	text-align:center ;
	margin: 10px;
	background-color: #FFCD48;
	color: black;
	border-radius: 10px;
}

#tbl{
	border-radius: 10px;
	margin-top: 20px;
	width: 65%;
	float: right;
	text-align: left;
	border-radius: 1rem;
	height: 40%; ;
}

/* prueba  */
.cont-img{
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: auto;
}

.galeria__img{
	width: 300px;
	height: 200px;
	margin-bottom: 30px;
	object-fit: contain;
	background-color: #FDFEFE;
	filter: brightness(70%);
}

.galeria__img:hover{
	filter: brightness(100%);
}

.text{
	width: 50%;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background: #1D2F3D;
	filter: brightness(70%);
	border-radius: #FDFEFE;
	border: 10px solid #FDFEFE;
}

.text:hover{
	filter: brightness(100%);
}


/* * ============================== */
/* * ========== CONTENIDO ============ */
/* * ============================== */

#resultado{
	padding: 10px;
	width: 90%;
	margin:10px;
	/* float:	center; */
	margin-bottom: 5px;
}

.divData{
	align-content: center;
	width: 30%;
	padding: 10px;
	margin:10px;
	border-radius: 5px;
	background: #1D2F3D;

}

 */
/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */

footer .navbar{
	margin: 10px;
	position: sticky;
	bottom: 0;
	width: 100%;
}

main{
	padding-top: 1rem; 
	display: block;
}

/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
/* @media screen and (max-width: 1020px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		align-content: center;
		width: 100%;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
		width:100% ;
	}

	.divTitulo{
	margin: 150 0 50 0 ;

	}

	#blog .contenedor {
		flex-direction: column;
	}
} */
button{
	width: 100%;
}
.comentario{
color: #BDC3C7;
}
.comentarioAct{
	color: #BDC3C7;
}

.contenedorGrande{
	width: 100%;
	height: 500px;
	background: #D0D3D4;
	padding: 3%;
	font-stretch: semi-condensed;
}

.pequeño{
	width: 200px;
	height: 300px;
	display: inline-block;
	background-color: black;
	padding: 10px;
	border-radius: 20px;
	margin-left: 5%;
}

.divImg{
	width: 100%;
	height: 280px;
	display: flex;
	border-radius: 10px;
	justify-content: center;

}

.descr{
	background-color:#FFCD48;
	/* margin-top: 20px; */
	border-radius: 10px;
	/* width: 150px; */
	display: block;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
}



.enunciado{
	background-color:#1D2F3D;
	border-radius: 20px;
	padding: 10px;
	margin-top: 20px;
}

.parrafo{
	margin-top: 20px;
	color: #f2f2f2;
}